<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../css/Reset.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">

</head>

<body>
    <header>
        <div id="tgroup" class="s-header">
            <h1 class="s-title">{{title}}</h1>
            <h3 class="s-motto">{{motto}}</h3>
        </div>
        <div id="nav" class="s-nav">
            <div class="s-nav-normal">
                <ul id="menu">
                    <li v-for="item in items">
                        <a> {{item.message}}</a>
                    </li>
                </ul>
            </div>
            <div class="s-nav-mobile">
                <div class="s-nav-mobile-btn">
                <a id="navBtn" v-on:click="navClick">
                    <i class="fa fa-navicon"></i>
                </a></div>
                <ul id="menu-mobile" v-bind:class="{active:isactive}">
                    <li v-for="item in items">
                        <a> {{item.message}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script>
    new Vue({
        el: "#tgroup",
        data: {
            title: "Small...Huge",
            motto: "keep foolish,keep hungry"
        }
    })
    new Vue({
        el: "#menu",
        data: {
            items: [
                { message: "Home" },
                { message: "Archive" },
                { message: "Tags" },
                { message: "About" }
            ]
        }
    })
    var menuMobile = new Vue({
        el: "#menu-mobile",
        data: {
            items: [
                { message: "Home" },
                { message: "Archive" },
                { message: "Tags" },
                { message: "About" }
            ],
            isactive: false
        }
    })
    new Vue({
        el: "#navBtn",
        data: {
            isClick: false
        },
        methods: {
            navClick: function (event) {
                this.isClick = !this.isClick;
                menuMobile.isactive = this.isClick;
            }
        }
    })
</script>

</html>